MentorWebApp/.vs/*
*.config
MentorWebApp/.vs/MentorWebApp/v15/.suo
*.ide
MentorWebApp/MentorWebApp/bin/*
MentorWebApp/MentorWebApp/obj/*
MentorWebApp/MentorWebApp/bin/Debug/netcoreapp2.0/MentorWebApp.runtimeconfig.dev.json
MentorWebApp/MentorWebApp/bin/Debug/netcoreapp2.0/MentorWebApp.runtimeconfig.dev.json
MentorWebApp/MentorWebApp/obj/Debug/netcoreapp2.0/MentorWebApp.csproj.CoreCompileInputs.cache
MentorWebApp/MentorWebApp/obj/Debug/netcoreapp2.0/MentorWebApp.csproj.CoreCompileInputs.cache
MentorWebApp/MentorWebApp/bin/Debug/netcoreapp2.0/MentorWebApp.runtimeconfig.dev.json
MentorWebApp/.vs/MentorWebApp/v15/.suo
*.ide
