@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Question>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="help-block">
    <h1 class="page-header">List of all questions</h1>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-default" asp-action="Create">Ask New Question</a>
        }
    }
    </div>
    <div class="panel panel-default">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Asked by
                </th>
                <th>
                    Date Posted
                </th>

            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UctNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>