@{
    ViewData["Title"] = "UCT Map";
}
<h2>@ViewData["Title"]</h2>


<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/dir//-33.9575996,18.4611511/-33.957799,18.4591953,541m/data=!3m1!1e3"></iframe>
        </div>

        <div class="span4">
            <h2>Useful UCT Contacts</h2>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>contact name</th>
                            <th>phone number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>1</td>
                            <td>Campus Protection Services (CPS) 24-hour hotline</td>
                            <td>Tel: 021 650 2222 / 3</td>
                        </tr>
                        <tr class="active">
                            <td>2</td>
                            <td>Student Health Services (not after hours)</td>
                            <td>Tel: 021 650 1017 / 1020</td>
                        </tr>
                        <tr class="active">
                            <td>3</td>
                            <td>Discrimination & Harassment Office (DISCHO)</td>
                            <td>Tel: 021 650 3530</td>
                        </tr>
                        <tr class="active">
                            <td>4</td>
                            <td>Sexual Assault 24-hour hotline</td>
                            <td>072 393 7824</td>
                        </tr>
                        <tr class="active">
                            <td>5</td>
                            <td>UCT Student Careline</td>
                            <td>0800 24 25 26 or SMS 31393</td>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>Director of Student Housing</td>
                            <td>Tel: 021 650 1038</td>
                        </tr>
                        <tr class="active">
                            <td>7</td>
                            <td>Main Security Control</td>
                            <td>Tel: 021 650 2222 / 3</td>
                        </tr>

                    </tbody>
                </table>

                <a href="http://www.uct.ac.za/main/contacts/emergency">For more emergancy numbers</a>
               
</div>
        </div>
    </div>
</div>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    -->