@{
    ViewData["Title"] = "Home Page";
}
 

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Mentorship Knowledgebase</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div id="imaginary_container">
                
                <div class="input-group col-md-12">
                    <input type="text" class="search-query form-control" placeholder="Search resources, ask a question">
                    <span class="input-group-btn">
                        <button class="btn .btn-primary" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Popular</h3>
            <div class="jumbotron">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Latest</h3>
            <div class="jumbotron">
                <div class="panel panel-default">
                    
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>

                </div>
                
            </div>

        </div>
    </div>
</div>

