@{
    ViewData["Title"] = "Home Page";
}
 
  <link href="~/css/heroic.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Mentorship Knowledgebase</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div id="imaginary_container">
                
                <div class="input-group col-md-12">
                    <input type="text" class="search-query form-control" placeholder="Search resources, ask a question">
                    <span class="input-group-btn">
                        <button class="btn .btn-primary" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Popular</h3>
            <div class="jumbotron">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://www.ox.ac.uk/students/academic/guidance/skills?wssl=1 " target="_blank">
                            Study skills and training | University Of Oxford
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.samford.edu/departments/academic-success-center/how-to-study " target="_blank">
                            How to Get the Most Out of Studying
                            : A Video Series | Samford University
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href=" https://www.reading.ac.uk/library/study-advice/lib-sa-videos.aspx" target="_blank">
                            STUDY ADVICE VIDEO TUTORIALS

                            | University of Reading
                        </a>
                    </li>
                    <li class="list-group-item"><a href="https://students.dartmouth.edu/academic-skills/ " target="_blank">Academic Skills Center | Dartmouth</a></li>
                    <li class="list-group-item">
                        <a href="http://lsc.cornell.edu/study-skills/study-skills-videos/ " target="_blank">
                            Study Skills Videos
                            | Cornell University
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Latest</h3>
            <div class="jumbotron">
                <div class="panel panel-default">
                    
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://www.ox.ac.uk/students/academic/guidance/skills?wssl=1 " target="_blank">
                                Study skills and training | University Of Oxford
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://www.samford.edu/departments/academic-success-center/how-to-study " target="_blank">
                                How to Get the Most Out of Studying
                                : A Video Series | Samford University
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href=" https://www.reading.ac.uk/library/study-advice/lib-sa-videos.aspx" target="_blank">
                                STUDY ADVICE VIDEO TUTORIALS

                                | University of Reading
                            </a>
                        </li>
                        <li class="list-group-item"><a href="https://students.dartmouth.edu/academic-skills/ " target="_blank">Academic Skills Center | Dartmouth</a></li>
                        <li class="list-group-item">
                            <a href="http://lsc.cornell.edu/study-skills/study-skills-videos/ " target="_blank">
                                Study Skills Videos
                                | Cornell University
                            </a>
                        </li>
                    </ul>

                </div>
                
            </div>

        </div>
    </div>
</div>


<!-- 
<div class="container"> 
    <header class="jumbotron my-4">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Mentorship Knowledgebase</h1>
        </div>
        <div class="input-group col-md-12">
            <input type="text" class="search-query form-control" placeholder="Search resources, ask a question">
            <span class="input-group-btn">
                <button class="btn .btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>

    </header>
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
</div>

-->