
@{
    ViewData["Title"] = "Resources";
}

<h2>@ViewData["Title"]</h2>




<div class="row">
    <div class="col-md-4 ">

        <div id="imaginary_container">

            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search resources">
                <span class="input-group-btn">
                    <button class="btn .btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<h4>Results</h4>
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!--<div class="panel-heading">Panel heading</div>-->

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Source</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Time Mangement Tips</td>
                <td>University of Oxford</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Developing a Mindset for Successful Learning</td>
                <td>Samford University</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Preparing for exams</td>
                <td>University of Reading</td>
                <td>80</td>
            </tr>

        </table>
    </div>

</div>