@model SearchResult

@{
    ViewData["Title"] = "Index";
}

<h2>Search Results</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Link
        </th>
        <th>
            Id
        </th>

    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.ResultsList.Count; i++)
    {
        <tr>
            <td>
                @Html.ViewData.Model.ResultsList[i][0]
            </td>
            <td>
                <a href="@Html.ViewData.Model.ResultsList[i][1]">@Html.ViewData.Model.ResultsList[i][1]</a>
            </td>
            <td>
                @Html.ViewData.Model.ResultsList[i][2]
            </td>
        </tr>
    }

    </tbody>
</table>