
@model SearchResult

@{
    ViewData["Title"] = "Index";
}

<h2>Search Results</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    Title
                </th>
                
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResultsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
