@model SearchResult

@{
    ViewData["Title"] = "Index";
}

<h2>Search Results</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            Title
        </th>

    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.TitleResultsList.Count; i++)
    {
        <tr>
            <td>
                @Html.ViewData.Model.TitleResultsList[i]
            </td>
        </tr>
    }
    
    </tbody>
</table>