@model MentorWebApp.Models.SearchAnalytic

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SearchAnalytic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoOfResults" class="control-label"></label>
                <input asp-for="NoOfResults" class="form-control" />
                <span asp-validation-for="NoOfResults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucceedClicks" class="control-label"></label>
                <input asp-for="SucceedClicks" class="form-control" />
                <span asp-validation-for="SucceedClicks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoResultsCount" class="control-label"></label>
                <input asp-for="NoResultsCount" class="form-control" />
                <span asp-validation-for="NoResultsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectId" class="control-label"></label>
                <input asp-for="ObjectId" class="form-control" />
                <span asp-validation-for="ObjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

