@model AllAnalytics
@{
    ViewData["Title"] = "Site Analytics";
}

<h2>Site Analytics</h2>
<br/>
<h3>Searches</h3>

<!--
    
    This is where the searches analytics will be displayed
    

-->
<br/>
<h3>Resources</h3>

<!--
    
This is where the resources analytics will be displayed
    

-->
<br/>
<h3>Questions</h3>

<!--
    
This is where the questions analytics will be displayed
    

-->
<br />
<h3>Users and Traffic</h3>
<!--

This is where the user analytics will be displayed


-->

