<h2>Index</h2>


<h2>
    <a asp-controller="BackEnd" asp-action="UserIndex">User Backend</a>
</h2>
<h2>
    <a asp-controller="BackEnd" asp-action="ResourcesIndex">Resources Backend</a>
</h2>
<h2>
    <a asp-controller="BackEnd" asp-action="QuestionsIndex">Questions Backend</a>
</h2>