@model ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ApplicationUser</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UctNumber" class="control-label"></label>
                <input asp-for="UctNumber" class="form-control"/>
                <span asp-validation-for="UctNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permissions" class="control-label"></label>
                <input asp-for="Permissions" class="form-control"/>
                <span asp-validation-for="Permissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enabled"/> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserIndex">Back to List</a>
</div>